/*prefixes if a CSS property not supported
	firefox -moz-
	safari -webkit-
	chrome -webkit-
	opera -o-
	IE -ms
used in case a property is still not supported by a browser*/
-webkit-border-radius:24px;	

/*border radius property*/
#1{
border-radius: 24px;	/*gives rounded corners to an element*/	/*also in order top-left top-right bottom-right bottom-left*/
background-color: green;
color: white;
padding: 50px;
}

/*circle*/
#2{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: green;
	color: white;
}

/*border-shadow*/
#3{
	width: 300px;
	height: 100px;
	background-color:#9ACD32;
	box-shadow: 10px 10px 5px 5px #888888;	/*horizontal-offset vertical-offset blur-distance(optional) spread-distance(optional) color(optional)*/
}

/*border-shadow*/
#4{
	width: 300px;
	height: 100px;
	background-color:#9ACD32;
	box-shadow: inset 10px 10px 5px 5px #888888,
	inset -10px -10px 5px 5px #888888;	/*inset=inner shadow, multiple can be set by comma seperated*/
}

/*RGBA color & HSLA*/
/*red,green,blue,alpha(1=opaque,0=transparent)*/
/*Hue,saturation,lightness,alpha*/
/* Hue in (0 to 360 degrees)0 or 360=red, 120=green, 240=blue & saturation in %(100%=full color) & lightness in %(0%=dark, 100%=white) & alpha same as above*/
body{
	background:url("sololearn.jpg");
}
nav{
	padding:50px 0;
	min-width:500px;
}
nav ul{
	background:linear-gradient(90deg,
	rgba(255, 255, 255, 0) 0%,
	rgba(255, 255, 255, 0) 25%,
	rgba(255, 255, 255, 0) 75%,
	rgba(255, 255, 255, 0) 100%);
	box-shadow:0 0 25px rgba( 0, 0, 0 ,0.1),
	inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	padding: 10px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial;
	text-decoration: none;
	display: block;
}

/*text-shadow*/
#5{
	width: 300px;
	height: 100px;
	background-color:#9ACD32; /*comma seperated for multiple*/
	text-shadow: 10px 10px 5px 5px #888888;	/*x-offset y-offset blur-distance(optional) color(optional)*/	/*none to remove*/
}

/*pseudo class*/
#parent p:first-child{		/*:last-child(start with colon:)*/
	color: green;		/*will effect first paragraph of division(child of parent*/
	text-decoration: underline;
}

/*pseudo elements, not supported in mozilla yet(-moz)*/
/*specific parts of elements, start with double colon(::)*/
p::first-line{	/*first-letter,selection(portion),before,after(element)*/
	color:#589432;
}

/*word-wrap property*/
/*can break words to fit in container*/
p.longword{
	width: 210px;
	height: 100px;
	border: 1px solid #000000;
	word-wrap:break-word;	/*normal*/
	font-weight:bold;
}

/* @font-face rule*/
/*all browsers-ttf(true type font) and otf(open type font), IE=eot(embedded open type)*/
@font-face{
	font-family:Delicious;	/*custom font Delicious is loaded and used*/
	src:url("Delicious-Roman.otf");
	src:url("Delicious-Roman.eot?#iefix");	/*? makes query in IE, #iefix fix a bug in IE to avoid*/
}
}
h1.tophead{
	font-family:Delicious, sans-serif;
}
	
/*Gradients*/
/*Linear Gradient*/
div.lin{
	float: left;
	width: 300px;
	height: 100px;
	margin: 4px;
	color: #FFF;
	background:linear-gradient(left, DeepSkyBlue, Black);	/* at least 2 color stops; color name or RGB or HSL*/
}	/*direction optional and can be replaced with angle(eg. 100deg); left,right,top,bottom,left right, etc.*/
/*repeating-linear-gradient(left, DeepSkyBlue, Black) to make pattern repeating*/


/*radial Gradient*/
/* syntax:- background:radial-gradient(position, shape/size, color-stops)*/
/*position=descriptive(top etc) or %; shape/size=ellipse(default)/circle*/
div.rad{
	float: left;
	width: 300px;
	height: 100px;
	margin: 4px;
	color: #FFF;
	background:radial-gradient(top left, circle, green, Black);	/* at least 2 color stops; color name or RGB or HSL*/
}	/*direction optional and can be replaced with angle(eg. 100deg); left,right,top,bottom,left right, etc.*/
/*repeating-linear-gradient(left, DeepSkyBlue, Black) to make pattern repeating*/


/*background-image*/
#reimg{
	height:150px;
	width:200px;
	border: 1px solid #000;
	background:url("sololearn.jpg") no-repeat 50% 50%;
	background-size:100px 100px;	/*width height;other values:- contain(resize to fix in box), cover(cropped to fit in box)*/
}

/*background-clip*/
/*also applied to images*/
#first{
	border: 2px dotted black;
	padding:20px;
	background: LightBlue;
	background-clip:padding-box; /*border-box(default, outside edge of border), content-box(within content box), padding-box(outside edge of padding)*/
}

/*transparent border*/
div.trans{
	border: 20px solid rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	width: 200px;
	position: absolute;
	top: 50px;
	left: 50px;
	background-color: white;
}

/*multiple images*/
div.mult{
	width: 400px;
	height: 300px;
	background-image: url("sololearn.jpg"), url("sololearn.jpg");
	background-position: right-bottom, left-top;
	background-repeat: no-repeat;
}

/*opacity property*/
/*Opacity is the measure of impenetrability to electromagnetic or other kinds of radiation, especially visible light*/
/*light/dark shade to image*/
#img1{
	opacity: 0.25;	/*between 0(transparent) and 1(opaque)*/
	filter:alpha(opacity=25);	/*only for IE*/
}


/*CSS3 transitions*/
/*parameters:- transition-property,transition-duration, transition-timing-function(ease, ease-in, ease-out, ease-in-out,linear,cubic-bezier(a,b,c,d)) transition-delay*/
#trans{
	width: 50px;
	height: 50px;
	background: #32CD32;
	transition: width 3s;
	-webkit-transition: width 3s;
}
div:hover{
	width: 250px;
}

/*CSS3 transforms*/
div.rot{
	width:200px;
	height: 100px;
	marhin-top: 30px;
	background-color: #32CD32;
	transform: rotate(10deg); /*clockwise*/
}

/*transform-origin*/
div.rot2{
	width:200px;
	height: 100px;
	marhin-top: 30px;
	background-color: #32CD32;
	transform: rotate(10deg);	/*must be used with transform-origin*/
	transform-origin: 25% 75%;	/*default 50% 50%(center); 0% 0%(top left) and 100% 100%(bottom right)*/
}

/*translate method*/
div.rot3{
	width:200px;
	height: 100px;
	marhin-top: 30px;
	background-color: #32CD32;
	transform: translate(100px, 50px);	/*move in x and y, positive values to down and right and negative values to up and left*/
}	/* another is skew(30deg,20deg), will skew to 30 deg along x axis and 20 along y*/

/*scale*/
div.rot4{
	width:200px;
	height: 100px;
	marhin-top: 30px;
	background-color: #32CD32;
	transform: scale(1.5 1.5);	/*x and y axis, 1=default size*/
}	

/*multiple transformations*/
div.rot5{
	width:200px;
	height: 100px;
	margin-top: 30px;
	background-color: #32CD32;
	transform: rotate(45deg) scale(1.5 1.5);	/*space between two transforms*/
}

/*animation*/
/*gradually change one style to other*/
/*inside @keyframe annotation*/
div.ani{
	width: 100px;
	height: 100px;
	background-color: red;
	animation-name: colorchange;
	animation-duration: 1s;	/*default = 0*/
	animation-timing-function:ease;	/*ease,linear,ease-in,ease-out,ease-in-out,cubic-bezier(n,n,n,n)*/	/*not mandatory*/
	animation-delay: 2s;	/*not mandatory*/
	animation-iteration-count: 5;	/*or infinite*/	/*not mandatory*/
	animation-direction: normal;	/*normal, reverse, alternate, alternate reverse*/	/*not mandatory*/
}	/*alternatively, animation: colorchange 3s ease-in 1s infinite reverse; */		
@keyframes colorchange{	/*animation-name*/
	0% {background-color:red;}
	50% {background-color:yellow;}
	70% {background-color:blue;}
	100% {background-color:green;}
}	/*from(0%) and to(100%) keywords can also be used*/

/*3D rotation*/
dix.X{
	width: 250px;
	height: 100px;
	color: white;
	background-color: green;
	transform: rotateX(150deg);
	-weblit-transform: rotateX(150deg);
}
dix.Y{
	width: 250px;
	height: 100px;
	color: white;
	background-color: green;
	transform: rotateY(150deg);
	-weblit-transform: rotateY(150deg);
}
dix.Z{
	width: 250px;
	height: 100px;
	color: white;
	background-color: green;
	transform: rotateZ(150deg);	
	-webkit-transform: rotateZ(150deg);
	prespective: 100px/*depth, child elements gets prespective view not element itself*/
}
/*for all x,y,z in one go use --> translate3d(x, y, z);scale3d();rotate3d()*/

/*CSS filters*/
/*blur(),brightness(),contrast(),drop-shadow(),grayscale(),hue-rotate(),invert(),opacity(),saturate(),sepia()*/
/*not supported in IE, Edge 12, Safari 5.1 and earlier*/
img.newfilter{
	filter: dropshadow5px 9px 2px blue);
}
/*hue rotate based on color circle*/
