/*type selector*/
p{
	color:blue;
	background-color:yellow;
}

/*mark*/
mark { 
  background-color: red;
  color: black;
}

/*id selector*/
#intro{   			/* # means id and . mean class(all if no prefix) */
	color:white;
	background-color:gray;
}

/*class selector, type first class and not start with number(. means all elements having class=first)*/
.first{font-size:200%}

/*descendant selector, as many level deep*/
#intro .first em{
	color:pink;
	background-color:blue;
}

/*font family property css*/
p.serif{
	font-family:"Times New Roman",Times,serif;
}
p.sansserif{
	font-family:Helvetica,Arial,sans-serif;
}
p.monospace{
	font-family:"Courier New",Courier,monospace;
}
p.cursive{
	font-family:Florence,cursive;
}
p.fantasy{
	font-family:Blipoo,fantasy;
}

/*font size property css*/
p.xxsmall{
	font-size:xx-small;
}
p.small{
font-size:small;
}
p.medium{
	font-size:medium;
}
p.large{
	font-size:large;
}
p.xlarge{
	font-size:x-large;
}
/*manipulate font size*/
h1{
	font-size:20px;   /*or 1.25em (=20/16 px, 16 is default px)*/
}

/*font style property css*/
p.italic{
	font-style:italic; /*normal or oblique*/
}

/*font weight property css*/
p.light{
	font-weight:light; /*bold,bolder,normal,100-900(100 light and 900 boldest, 400 is normal)*/
}

/*font variant property css*/
p.small{
	font-varient:small-caps; /*normal,inherit*/
}

/*color property css*/
p.example{
	color:green;
}
p.head{
	color:#0000FF;
}
p.bod{
	color:rgb(255,0,0);
}

/*text align property*/
p.justify{
	text-align:justify;  /*left,right,center*/
}

/*vertical align property*/
td.top{
	vertical-align:top;  /*middle,bottom,baseline,sub,super,%,px,pt(point),cm(centimeter)*/
}  /*display:inline-table and display:table cell for div tags*/

/*line through property*/
p.line-through{
	text-decoration:line-through; /*none,inherit,overline,underline,blink(most browser ignore it)*/
}

/*text indent property*/
p.indent{
	text-indent:6cm; /*length properties(px,pt,cm,em etc.),%,inherit(negative allowed)*/
}

/*text shadow property*/
h4{
	color:blue;
	font-size:30pt;
	text-shadow:2px 2px 4px grey; /*x-axis y-axis depth-radius color(all units supported)*/
}

/*text transform property*/
p.capital{
	text-transform:capitalize; /*uppercase,lowercase,none*/
}

/*letter spacing property(between each char)*/
p.positive{
	letter-spacing:3px; /*normal,inherit,length in px pt etc.*/
}

/*word spacing property(each word)*/
p.positivew{
	word-spacing:3px; /*normal,inherit,length in px pt etc.*/
}

/*white space property*/
p{
	white-space:nowrap; /*normal,inherit,pre(on break),pre-line(where break but extra space ignored),pre-wrap(when necessary)*/
}

/*border property*/
p.borderpad{
	padding:10px;
	border:5px solid green
}

/*border width property*/
p.borderwidth{
	padding:10px;
	border-style:solid; /*mandatory property--dotted,dashed,double,groove,ridge,inset,outset,hidden,none*/
	border-width:5px;  /*also different border for different sides, border-top-style,border-right-style,border-bottom-style,border-left-style*/
	border-color:blue;  /*all 3 format, color hexa and rgb supported*/
}

/*width & height property*/
div.newtest{
	border:5px solid green;
	width:90px;  /*%,cm and other units also valid*/
	height:90px;  /*min-width,max-width,min-height,max-height*/
	background-color:red;
}

/*background color*/
body{
	background-color:#87CEFA; /*name,rgb,hexa*/
}

/*background image*/
body{ /*set for body*/
	background-image:url("test_img.png"); /*image url*/
}

/*background image/attachment property*/
p.backimg{
	padding:100px; /*size of image*/
	background-image:url("test_img.png"),url("test_img1.jpg"); /*mandatory*/
	background-repeat:no-repeat; /*repeat-x,repeat-y,inherit*/
	background-attachment:fixed; /*inherit,scroll*/
	color:white; /*color of text written*/
}

/*list-style-type property*/
ol.circle{
	list-style-type:circle; /*square,decimal,disc,lower-alpha etc*/
}

/*list-style-image/position property*/
ul.limg{
	list-style-image:url("test_img.png");
	list-style-position:inside; /*outside as default value*/
}

/*list-style property*/
ol.square{
	list-style:square outside none; /*type,position and image-if one missing, default set*/
}

	
